<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.hubble.scrapmanga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScrapManga">
        <activity
            android:name=".ui.QueryActivity"
            android:label="@string/run_query"
            android:parentActivityName=".ui.SettingsActivity" />
        <activity
            android:name=".ui.StatsActivity"
            android:label="@string/statistics"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/search_online"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ReadActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".ui.ChapterListActivity"
            android:label="@string/chapters" />
        <activity
            android:name=".ui.MangaActivity"
            android:label="@string/manga"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>